.h1 {
  font-size: 6rem;
}

.h2 {
  font-size: 3.75rem;
}

.h3-5 {
  font-size: 3.5rem;
}

.h3 {
  font-size: 3rem;
}

.h4-5 {
  font-size: 2.5rem;
}

.h4 {
  font-size: 2.125rem;
}

.h5-7 {
  font-size: 1.75rem;
}

.h5 {
  font-size: 1.5rem;
}

.h6 {
  font-size: 1.25rem;
}

.f2 {
  font-size: 2rem;
}

.f1 {
  font-size: 1rem;
}

.f0-8 {
  font-size: 0.875rem;
}

.f0-7 {
  font-size: 0.75rem;
}

.fb {
  font-weight: bold;
}

.ls-4 {
  letter-spacing: 4px;
}

.ls-3 {
  letter-spacing: 3px;
}

.ls-2 {
  letter-spacing: 2px;
}

.ls-1-5 {
  letter-spacing: 1.5px;
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-0-5 {
  letter-spacing: 0.5px;
}

.uc {
  text-transform: uppercase;
}

.lc {
  text-transform: lowercase;
}

.text-ar {
  text-align: end;
}

.text-ac {
  text-align: center;
}
